{% extends 'base.html' %}

{% block content %}
<!-- Intro Section -->
<div id="blog-intro">
    <p>Welcome to the Blog Page! Here you can see a list of the blog posts submitted by other users- so take some time and have a look through. You can refine your search using the filter options available.</p>
</div>

<!-- Blog Page -->
<div id="blog-container">  

    <!-- Blog Posts Section-->
    <div id="blog-posts">
        {% for post in blog_posts %}
        <div class="blog-post">
            <h2>{{ post.title }}</h2>
            <p>By {{ post.author.username }} on {{ post.published_date }}</p>
            <!-- Truncated Content -->
             <div class="post-summary">
                <p>{{ post.excerpt }} <a href="#" class="toggle-content">Read More</a></p>
             </div>
            <!-- Full Content (Initially Hidden) -->
            <div class="post-full-content" style="display: none;">
                <p>{{ post.content }}</p>
            </div>
        </div>
        {% empty %}
        <p id="no-posts">No Blog Posts Available</p>
        {% endfor %}
    </div>

    <!-- Pagination Controls -->
     <div>
        <span>
            {% if blog_posts.has_previous %}
                <a href="?{% if request.GET.page %}page={{ blog_posts.previous_page_number }}{% endif %}">&laquo; Previous</a>
            {% endif %}

            {% if blog_posts.has_next %}
                <a href="?{% if request.GET.page %}page={{ blog_posts.next_page_number }}{% endif %}">Next &raquo;</a>
            {% endif %}
        </span>
     </div>
     <!-- Create Post Button -->
      <aside>
        <button id="create-post-btn">Create New Post</button>
      </aside>
    <!-- Filtering Section -->
    <aside id="blog-filters">
        <h3>Filter Posts</h3>
        <form method="GET" action="{% url 'blog' %}">
            <label for="category">Catagory:</label>
            <select name="category" id="category">
                <option value="">All</option>
                <option value="product-reviews">Product Reviews</option>
                <option value="tips-&-tricks">Tips & Tricks</option>
            </select>
            <label for="author">Author:</label>
            <input type="text" name="author" id="authory" placeholder="Search by Author Name">
            <label for="sort">Sort By:</label>
            <select name="sort" id="sort">
                <option value="published_date_desc">Date: Newest First</option>
                <option value="published_date_asc">Date: Oldest First</option>
                <option value="popularity_desc">Most Popular</option>
                <option value="popularity_asc">Least Popular</option>
            </select>
            <button type="submit">Filter</button>
        </form>
    </aside>
</div>
{% endblock %}