<!-- Create Blog Post Modal -->

<div id="createPostModal" class="modal">
    <div class="modal-content">
        <span id='close-create-post' class="close">&times;</span>
        <h2>Create New Post</h2>
        <form id="create-post-form">
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="title" required>

            <label for="post-content">Content:</label>
            <textarea id="post-content" name="content" required></textarea>

            <button type="submit">Publish!</button>
        </form>
    </div>
</div>