/* Wildcard Selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styling */

h1, h2, h3 {
    font-family: "Raleway", system-ui;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
}

a {
    color: #234FFF;
    font-weight: bold;
}

header {
    background-color: #77FFBF;
    font-family: "Raleway", system-ui;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color: #f8f8ff;
    padding-top: 70px; /* Create space for fixed header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
    border-radius: 8px;
    flex-grow: 1;
}

/* Container for logo and user auth */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#logo-title {
    font-family: "Raleway", system-ui;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    line-height: 1;
}

/* Navbar and User Auth Container */
.nav-auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Navigation Styling */

nav {
    display: flex;
    text-align: center;
    background-color: #77FFBF;
    margin-top: 0;
    flex-grow: 1;
    margin-left: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
    color: #000000;
}

nav ul li a:hover {
    background-color: #00640077;
    border-radius: 2px;
    color: #fefefe;
}

#my-posts-button {
    border-color: #00505081;
    border-radius: 0;
}

#my-posts-button:hover {
    border-color: #005050c4;
}

.user-auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.user-auth button {
    background: none;
    border: none;
    font-family: "Raleway", system-ui;
    font-size: 1rem;
    cursor: pointer;
}

#user-button {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #77FFBF;
    margin-top: 20px;
    min-width: 160px;
    z-index: 1;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: #000000;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #77FFBF;
    text-decoration: underline;
    color: #007bff;
}

/* Modals General Styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #88888850;
    width: 80%;
    max-width: 600px;
}

.modal-content h2 {
    align-self: center;
}

.modal-content textarea {
    resize: vertical;
    height: 200px;
}

.close,
.close-edit-post {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Edit Post Modal*/
#edit-post-form button {
    position: relative;
    left: 30%;
}

/* Register/Login Modal */

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form button {
    align-self: center;
}

#register-form input {
    font-size: 0.8rem;
    margin: 10px 0;
    padding: 10px;
}

/* Login Modal */

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form button {
    align-self: center;
}

#login-form input {
    font-size: 0.8rem;
    margin: 10px 0;
    padding: 10px;
}

/* Notifications Modal */

.notification-modal {
    position: fixed;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #005050;
    color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #00000033;
    transition: top 0.3s ease;
    z-index: 2000;
}

.notification-modal.show {
    top: 50px;
}

#close-notification-modal {
    color: #fefefe;
}

/* Create Post Modal */

#create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content input[type='text'],
.modal-content input[type='file'],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button[type='submit'],
.open-modal-btn {
    background-color: #7fffd4;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 25px 0;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

/* Footer Styling */

footer {
    background-color: #00ffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#social-media-links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#social-media-links li a {
    color:#005050;
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

#social-media-links li a:hover {
    color: #000000;
    transform: scale(1.2);
    outline: none;
}

#social-media-links li a:focus {
    color: #000000;
    transform: scale(1.2);
    outline: 2px solid #005050;
    outline-offset: 4px;
}

#footer p {
    margin-top: 5px;
    font-size: 1rem;
}

#footer p a {
    color: #005050;
    text-decoration: underline;
    transition: color 0.3s ease;
}

#footer p a:hover, #footer p a:focus {
    color: #000000;
    outline: none;
}

/* Home Page */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 60px;
}

h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

#home-img {
    display: block;
    max-width: 40%;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
}

/* Popular Posts Section */

#popular-posts {
    margin: auto;
    padding: 20px;
    border: 1px solid #005050;
    background-color: #00505054;
    border-radius: 8px;
    max-width: 90%;
}

#popular-posts h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000000;
    font-family: "Raleway", system-ui;
    text-align: center;
}

#popular-posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#popular-posts li {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #000000;
}

.post-item h3 {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.post-author {
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 5px;
    font-size: 0.75rem;
}

#popular-posts li a:hover {
    color: #04a086;
}

#popular-posts p {
    margin: 0;
    color: #000000;
    font-size: 1rem;
}

#popular-posts ul li .readmore {
    text-decoration: none;
    font-weight: bold;
    color: #005050;
}

#popular-posts ul li .read-more:hover {
    color: #04a086;
}

#no-posts {
    text-align: center;
}

.post-summary {
    display: block;
}

.post-full-content {
    display: none;
}

#popular-posts ul li .read-more {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline;
    color: #005050;
}
/* Blog Page */

#blog-intro {
    margin-top: -20px;
}

#blog-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#blog-posts {
    flex: 3;
    border: 1px solid #062e21c0;
    border-radius: 5px;
    padding: 15px;
}

.blog-post {
    border-bottom: 1px solid #000000;
    padding: 15px 0;
    position: relative;
    margin-bottom: 20px;
}

.blog-post h2 {
    margin: 0 0 5px;
}

/* Like Button */

.like-button {
    position: relative;
    bottom: 10px;
    left: 90%;
    padding: 5px 10px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.like-button .like-count {
    margin-left: 8px;
}

/* Filtering Section */

#blog-filters {
    flex: 1;
    position: sticky;
    padding: 15px;
    border: 1px solid #00000091;
    background-color: #04a08673;
    border-radius: 5px;
}

#blog-filters h3 {
    margin-top: 0;
}

#blog-filters form {
    display: flex;
    flex-direction: column;
}

#blog-filters label {
    margin-top: 5px;
}

#blog-filters select,
#blog-filters input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filter-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#blog-filters button {
    padding: 10px 15px;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#blog-filters button:hover {
    background-color: #005050;
    color: #ffffff;
}

/* Pagination Controls */

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination a {
    padding: 10px 15px;
    margin: 0 2px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

#pagination a:hover {
    background-color: #005050;
    color: #ffffff;
}

#pagination .disabled {
    color: #aaa;
    pointer-events: none;
    cursor: default;
}

#pagination .prev,
#pagination .next {
    font-weight: bold;
}

/* Comments Section */

.comments-container {
    margin-top: 20px;
    border-top: 1px solid #000000;
    padding-top: 15px;
}

.comment {
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
}

.show-comments {
    background-color: #0050503f;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-left: 0;
}

.show-comments:hover {
    background-color: #005050;
    color: #fefefe;
}

.show-comments:focus {
    outline: none;
}

.comment p {
    margin: 0;
    color: #333;
    font-size: 1rem;
}

.comment span.author-info {
    font-size: 0.85rem;
    color: #777;
    margin-top: 5px;
    display: block;
}

.comments-container p {
    font-size: 0.9rem;
    color: #666;
}

.add-comment-button {
    background-color: #005050;
}

.comment-form {
    margin-top: 15px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.comment-form button {
    align-self: flex-end;
    padding: 8px 12px;
    background-color: #007b7b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #005050;
}

/* My Posts Page */

.my-posts-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: #fefefe;
    border-radius: 8px;
}

.my-posts-container h2 {
    font-size: 2rem;
    text-align: center;
}

.my-posts-container p {
    text-align: center;
}

.post-header p {
    text-align: left;
}

.my-posts-container ul {
    list-style-type: none;
    padding: 0;
}

.my-posts-container li {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-posts-container a, .my-posts-container button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.my-posts-container a {
    background-color: #005050;
    color: #fefefe;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.my-posts-container a:hover {
    background-color: #fefefe;
    color: #005050;
    border: 1px solid #005050;
}

.edit-post {
    margin-left: auto;    
}

.post-buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.my-posts-container button {
    background-color: #005050;
    color: #fefefe;
}

.my-posts-container button:hover {
    background-color: #fefefe;
    color: #005050;
    border: 1px solid #005050;
}

/* About Page */

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-container p {
    width: 80%;
}

#about-img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

/* Contact Us Page */

.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

iframe {
    border: none;
}

/* Accessibility */

a:focus, button:focus {
    outline: 2px solid #005050;
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(0);
    border: 0;
}

/* Responsive Design */

.nav-toggle-label {
    display: none;
}

#nav-toggle {
    display: none;
}

.toggle-content {
    color: #000000;
}

/* Media Queries */

@media (max-width: 768px) {
    
    /* Header Container */
    header {
        flex-direction: column;
        align-items: center;
    }

    main {
        margin-top: 40px;
    }

    body {
        padding-top: 80px;
    }

    .logo-container {
        margin-bottom: 10px;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    #logo {
        margin-bottom: 5px;
        left: 0;
    }

    /* Nav Bar */
    nav ul {
        flex-direction: column;
        display: none;
        width: 40%;
        position: absolute;
        top: 100%;
        left: -20px;
        z-index: 1000;
        background-color: #77FFBF;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        padding: 5px;
        text-align: center;
    }

    #menu {
        display: none;
    }

    #nav-toggle:checked + .nav-toggle-label + nav #menu {
        display: block;
    }

    .nav-toggle-label {
        display: block;
        cursor: pointer;
        padding: 0;
        background-color: #77FFBF;
        margin-right: auto;
    }

    .nav-auth-container nav {
        margin: 0;
    }

    .nav-toggle-label i {
        display: flex;
        justify-content: flex-start;
    }

    /* User Auth & Dropdown */
    .user-auth {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .dropdown-content {
        margin-top: 10px;
    }
    
    /* Home Page*/

    /* Popular Posts Section */

    #popular-posts h2 {
        font-size: 1.5rem;
        font-weight: bolder;
    }

    #popular-posts li {
        padding: 10px;
    }

    .post-item h3 {
        font-size: 1rem;
        font-weight: bold;
    }

    .post-author {
        font-size: 1rem;
    }

    #popular-posts p {
        font-size: 1rem;
    }

    /* Blog Posts Page */

    #blog-intro {
        margin-top: -20px;
    }

    #blog-container {
        flex-direction: column;
        align-items: center;
    }

    #blog-filters {
        order: -1;
        position: static;
        margin-bottom: 5px;
        width: 80%;
        flex-direction: row;
        justify-content: center;
    }

    #blog-posts {
        order: 0;
        width: 90%;
    }

    .blog-post h2 {
        font-size: 1.5rem;
    }

    #blog-posts p {
        font-size: 0.8rem;
    }

    /* Filtering Section */


    #blog-filters h3 {
        font-size: 0.8rem;
    }

    #blog-filters label {
        margin-top: 3px;
        font-size: 0.7rem;
    }

    #blog-filters select,
    #blog-filters input {
        padding: 5px;
        margin-top: 3px;
        font-size: 0.7rem;
    }

    #filter-buttons {
        display: flex;
        flex-direction: row;
    }
    
    #blog-filters button {
        padding: 10px;
        margin: 15px;
        font-size: 0.7rem;
    }
    
    /* Pagination Controls */

    #pagination {
        margin-top: 15px;
    }

    #pagination a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    /* Comments Section */

    .comments-container {
        margin-top: 20px;
        padding-top: 15px;
    }

    .comment {
        margin: 10px;
        padding: 10px;
    }

    .show-comments {
        padding: 10px;
        font-size: 0.8rem;
    }

    .comment p {
        font-size: 0.8rem;
    }

    .comment span.author-info {
        font-size: 0.85rem;
    }

    .comments-container p {
        font-size: 0.9rem;
    }

    .comment-form {
        margin-top: 10px;
        padding: 10px;
    }

    .comment-form textarea {
        font-size: 0.8rem;
    }

    .comment-form button {
        font-size: 0.8rem;
    }

    /* My Posts Page*/

    .my-posts-container {
        padding: 15px;
        max-width: 95%;
    }

    .post-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .post-buttons a,
    .post-buttons button {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    /* Footer */

    #footer {
        padding: 10px;
        text-align: center;
    }

    #footer p {
        font-size: 13px;
        margin: 5px 0;
    }

    #social-media-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        margin: 0;
        height: auto;
        gap: 15px;
    }

    #social-media-links li {
        margin: 0 10px;
    }

    #social-media-links li a {
        font-size: 1rem;
        line-height: 1;
    }


}

@media (max-width: 425px) {
    
    body{
        padding-top: 80px;
    }

    #logo-title {
        font-size: 1.35rem;
    }

    main h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    #edit-modal,
    #create-post-modal,
    #register-modal,
    #login-modal {
        width: 90%;
        align-self: center;
        margin-left: 25px;
    }

    /* Popular Posts Section */
    #popular-posts h2 {
        font-size: 1.25rem;
        font-weight: bolder;
    }

    #popular-posts li {
        padding: 10px;
    }

    .post-item h3 {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .post-author {
        font-size: 0.9rem;
    }

    #popular-posts p {
        font-size: 0.85rem;
    }

    .toggle-content {
        font-size: 0.9rem;
    }

    .post-likes {
        font-size: 0.9rem;
    }

    /* Blog Page */

    #blog-intro {
        margin-top: 15px;
    }

    .like-button {
        left: 80%;
        font-size: 0.85rem;
    }

    #blog-posts h2 {
        text-align: left;
    }

    /* My Posts Page */

    .my-posts-container {
        padding: 15px;
        max-width: 100%;
    }
    
    .post-buttons a, .post-buttons button {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
    }

}

@media (max-width: 375px) {
    body {
        padding-top: 80px;
    }

    main h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    main p {
        font-size: 0.8rem;
    }

    #logo-title {
        font-size: 1.15rem;
    }

    /* Popular Posts Section */
    #popular-posts h2 {
        font-size: 1rem;
        font-weight: bolder;
    }

    #popular-posts li {
        padding: 10px;
    }

    .post-item h3 {
        font-size: 0.85rem;
        font-weight: bold;
    }

    .post-author {
        font-size: 0.85rem;
    }

    #popular-posts p {
        font-size: 0.8rem;
    }

    .toggle-content {
        font-size: 0.85rem;
    }

    .post-likes {
        font-size: 0.85rem;
    }

    /* My Posts Page */

    .my-posts-container {
        padding: 5px;
        max-width: 100%;
    }
    
    .post-buttons a, .post-buttons button {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.55rem;
    }
}