{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2>Welcome to Cleaning Together!</h2>
    <p>Are you a newcomer to cleaning? Maybe you have just moved into your own place and already you're thinking, 
        <em>"how on earth do I keep this place clean?"</em> 
    Or maybe you are an experienced pro and are looking to see what new tricks are out their to make your cleaning journey more efficient, 
        <strong>and more fun!</strong> 
    The Cleaning Together blog has been created to bring everyone together and to give you the opportunity to gain knowledge from others, and maybe even sharing some of your own ideas. We encourage all our visitors to join the conversation!
    </p>
    <p> Feel free to take a look at our blog page to get an initial view on all posts, and if you haven't already why not register for an account with us? It's Free! By Registering for an account you will be able to post your own blog entries, comment on posts, and even join the conversation in the comments! </p>
    <img src="{% static 'images/home-page-intro-image.webp'%}" alt="miniature toy man sweeping up dandelion seeds">
</div>
<section id="popular-posts">
    <h2>Top 5 Most Popular Posts</h2>
    <ul>
        <li>
            <a href="#" id="post-title">Post Title 1</a>
            <a href="#" id="author-name">Author Username</a>
            <p>Brief description of post content...</p>
        </li>
        <li>
            <a href="#" id="post-title">Post Title 2</a>
            <a href="#" id="author-name">Author Username</a>
            <p>Brief description of post content...</p>
        </li>
        <li>
            <a href="#" id="post-title">Post Title 3</a>
            <a href="#" id="author-name">Author Username</a>
            <p>Brief description of post content...</p>
        </li>
        <li>
            <a href="#" id="post-title">Post Title 4</a>
            <a href="#" id="author-name">Author Username</a>
            <p>Brief description of post content...</p>
        </li>
        <li>
            <a href="#" id="post-title">Post Title 5</a>
            <a href="#" id="author-name">Author Username</a>
            <p>Brief description of post content...</p>
        </li>
    </ul>
</section>
{% endblock %}