/* Wildcard Selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styling */

h1, h2, h3 {
    font-family: "Raleway", system-ui;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
}

header {
    background-color: #7fffd4;
    font-family: "Raleway", system-ui;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color: #f8f8ff;
    padding-top: 60px; /* Create space for fixed header */
    padding-bottom: 80px; /* Create space for fixed footer */
}

main {
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 8px;
}

/* Container for logo and user auth */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: "Raleway", system-ui;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    position: relative;
    left: 40px;
}

.user-auth {
    display: flex;
    align-items: center;
}

.user-auth button {
    background: none;
    border: none;
    font-family: "Raleway", system-ui;
    font-size: 1rem;
    cursor: pointer;
}

#user-button {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: #000000;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

/* Modals General Styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #88888850;
    width: 75%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Notifications Modal */

.notification-modal {
    position: fixed;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #005050;
    color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #00000033;
    transition: top 0.3s ease;
    z-index: 2000;
}

.notification-modal.show {
    top: 50px;
}

/* Create Post Modal */

.modal-content input[type='text'],
.modal-content input[type='file'],
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button[type='submit'] {
    background-color: #7fffd4;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.open-modal-btn {
    background-color: #7fffd4;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}

/* Navigation Styling */

nav {
    display: flex;
    justify-content: center;
    background-color: #7fffd4;
    margin-top: 0;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #00640077;
    border-radius: 2px;
}

#my-posts-button {
    border-color: #00505081;
    border-radius: 0;
}

#my-posts-button:hover {
    border-color: #005050c4;
}

/* Footer Styling */

#footer {
    background-color: #00ffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#social-media-links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#social-media-links li a {
    color:#005050;
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

#social-media-links li a:hover {
    color: #000000;
    transform: scale(1.2);
    outline: none;
}

#social-media-links li a:focus {
    color: #000000;
    transform: scale(1.2);
    outline: 2px solid #005050;
    outline-offset: 4px;
}

#footer p {
    margin-top: 5px;
    font-size: 1rem;
}

#footer p a {
    color: #005050;
    text-decoration: underline;
    transition: color 0.3s ease;
}

#footer p a:hover, #footer p a:focus {
    color: #000000;
    outline: none;
}

/* Home Page */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 60px;
}

h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

img {
    display: block;
    max-width: 40%;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
}

/* Popular Posts Section */

#popular-posts {
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #005050;
    background-color: #00505054;
    border-radius: 8px;
    max-width: 90%;
}

#popular-posts h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #000000;
    font-family: "Raleway", system-ui;
    text-align: center;
}

#popular-posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#popular-posts li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #005050;
}

#popular-posts li #post-title {
    text-decoration: none;
    font-weight: bold;
    color: #005050;
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

#popular-posts li #author-name {
    text-decoration: none;
    font-weight: bold;
    color: #005050;
    display: block;
    margin-bottom: 5px;
    font-size: 0.75rem;
}

#popular-posts li a:hover {
    color: #04a086;
}

#popular-posts p {
    margin: 0;
    color: #000000;
    font-size: 1rem;
}

#popular-posts ul li .readmore {
    text-decoration: none;
    font-weight: bold;
    color: #005050;
}

#popular-posts ul li .read-more:hover {
    color: #04a086;
}

#no-posts {
    text-align: center;
}

.post-summary {
    display: block;
}

.post-full-content {
    display: none;
}

#popular-posts ul li .read-more {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline;
    color: #005050;
}
/* Blog Page */

#blog-intro {
    margin-top: -20px;
}

#blog-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

#blog-posts {
    flex: 3;
    border: 1px solid #062e21c0;
    border-radius: 5px;
}

.blog-post {
    border-bottom: 1px solid #000000;
    padding: 15px 0;
    position: relative;
    margin-bottom: 20px;
}

.blog-post h2 {
    margin: 0 0 5px;
}

/* Like Button */

.like-button {
    position: relative;
    bottom: 10px;
    left: 90%;
    padding: 5px 10px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.like-button .like-count {
    margin-left: 8px;
}

/* Filtering Section */

#blog-filters {
    flex: 1;
    position: sticky;
    padding: 15px;
    border: 1px solid #00000091;
    background-color: #04a08673;
    border-radius: 5px;
}

#blog-filters h3 {
    margin-top: 0;
}

/* Comments Section */

.comments-container {
    margin-top: 20px;
    border-top: 1px solid #000000;
    padding-top: 15px;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
}

.comment p {
    margin: 0;
    color: #333;
    font-size: 1rem;
}

.comment span.author-info {
    font-size: 0.85rem;
    color: #777;
    margin-top: 5px;
    display: block;
}

.comment .reply-button,
.comment .edit-comment-button,
.comment .delete-comment-button,
.comment .like-comment-button {
    background: none;
    border: none;
    color: #005050;
    cursor: pointer;
    font-size: 0.85rem;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.comment .reply-button:hover,
.comment .edit-comment-button:hover,
.comment .delete-comment-button:hover,
.comment .like-comment-button:hover {
    color: #008080;
}

.comment .like-comment-button i {
    margin-right: 5px;
}

.comment .like-comment-button .like-count {
    font-size: 0.85rem;
}

.replies {
    margin-left: 30px;
    padding-left: 15px;
    border-left: 1px solid #ddd;
    margin-top: 10px;
}

.comments-container p {
    font-size: 0.9rem;
    color: #666;
}

.add-comment-button {
    background-color: #005050;
}

.comment-form {
    margin-top: 15px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.comment-form button {
    align-self: flex-end;
    padding: 8px 12px;
    background-color: #007b7b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #005050;
}

.comment.reply {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* My Posts Page */

.my-posts-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 8px;
}

.my-posts-container h2 {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
}

.my-posts-container p {
    text-align: center;
}

.post-header p {
    text-align: left;
}

.my-posts-container ul {
    list-style-type: none;
    padding: 0;
}

.my-posts-container li {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-posts-container a, .my-posts-container button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.my-posts-container a {
    background-color: #fefefe;
    color: #000000;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.my-posts-container a:hover {
    background-color: #005050;
    color: #fefefe;
}

.edit-post {
    margin-left: auto;    
}

.my-posts-container button {
    background-color: #dc143c;
    color: #fefefe;
}

.my-posts-container button:hover {
    background-color: #fefefe;
    color: #000000;
    border: 1px solid #dc143c;
}

/* Contact Us Page */

.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

iframe {
    border: none;
}

/* Accessibility */

a:focus, button:focus {
    outline: 2px solid #04a086;
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    border: 0;
}

/* Responsive Design */

.nav-toggle-label {
    display: none;
}

#nav-toggle {
    display: none;
}

/* Media Queries */

@media (max-width: 768px) {
    
    /* Header Container */
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 5px;
        left: 0;
    }

    /* Nav Bar */
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        padding: 10px;
        text-align: center;
    }

    #menu {
        display: none;
    }

    #nav-toggle:checked + .nav-toggle-label + nav #menu {
        display: block;
    }

    .nav-toggle-label {
        display: block;
        cursor: pointer;
        padding: 0;
        background-color: #7fffd4;
    }
    
    /* Home Page*/

    img{
        max-width: 70%;
    }

    /* Popular Posts Section */

    #popular-posts h2 {
        font-size: 1.25rem;
    }

    #popular-posts li {
        padding: 10px;
    }

    #popular-posts li #post-title {
        font-size: 1rem;
    }

    #popular-posts li #author-name {
        font-size: 0.85rem;
    }

    #popular-posts p {
        font-size: 0.9rem;
    }

    /* Blog Posts Page */

    #blog-intro {
        margin-top: -20px;
    }
    #blog-container {
        flex-direction: column;
        align-items: center;
    }

    #blog-filters {
        order: -1;
        position: static;
        margin-bottom: 5px;
        width: 90%;
    }

    #blog-posts {
        order: 0;
        width: 90%;
    }

    /* Pagination Controls */

    #pagination {
        margin-top: 20px;
        text-align: center;
    }

    #pagination .step-links {
        padding: 10px;
        margin: 0 2px;
        text-decoration: none;
        color: #000000;
    }

    #pagination .step-links a:hover {
        background-color: #005050;
    }

    #pagination .step-links .disabled {
        color: #aaa;
        pointer-events: none;
    }

    /* My Posts Page*/

    .my-posts-container {
        padding: 15px;
    }

    .my-posts-container a, .my-posts-container button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /* Footer */

    #footer {
        padding: 10px;
        text-align: center;
        position: fixed;
    }

    #footer p {
        font-size: 13px;
        margin: 5px 0;
    }

    #social-media-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        margin: 0;
        height: auto;
        gap: 15px;
    }

    #social-media-links li {
        margin: 0 10px;
    }

    #social-media-links li a {
        font-size: 1rem;
        line-height: 1;
    }


}

@media (max-width: 480px) {
    
    /* Popular Posts Section */
    #popular-posts h2 {
        font-size: 1rem;
    }

    #popular-posts li {
        padding: 10px;
    }

    #popular-posts li #post-title {
        font-size: 0.9rem;
    }

    #popular-posts li #author-name {
        font-size: 0.85rem;
    }

    #popular-posts p {
        font-size: 0.9rem;
    }

    /* Blog Page */

    #blog-intro {
        margin-top: 15px;
    }

    .like-button {
        left: 80%;
    }

    /* My Posts Page */

    .my-posts-container {
        padding: 15px;
        max-width: 95%;
    }

    .my-posts-container a, .my-posts-container button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}